.gamecard {
  display: flex;
  background: #2983AA;
}

.info {
  padding: 15px 20px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  color: #C7C7C7;
  margin: 10px 0;
}

.pricecart {
  margin-top: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.price {
  color: #BEEB14;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
