.button {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #eee;
  border-radius: 10px;
  background: #549300;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #417200;
}

.fullwidth {
  width: 100%;
}

