.navbar {
  background-color: #171A21;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  height: 100px;
}

.search {
  min-width: 400px;
}

@media (max-width: 680px) {
  .navbar {
    padding: 0 20px;
  }

  .search {
    min-width: 100px;
  }
}
